/* お礼チャットの追加画面 (new)ーーーーーーーーーーーーーーーーーーーーーーーーー*/

.chat-new{
  header{
    background-color: #EE9441;
    height: 60px;
    img{
      margin-top: -7px;
    } 
    p{
      font-size: 24px;
      color: white;
      text-align: center;
      margin-top: -60px;
    }
  }
  .mein-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(250, 223, 169, 0.5);
    margin-bottom: 0px;
    .done-wrapper{
    padding: 50px 0px 40px 0px;
    .field{
      margin: 0px 5%;
      width: 90%;
      height: 122px;
      background-color: white;
      position: relative;
      .task{
        p{
          font-size: 20px;
          position: absolute;
          top: 10px;
          right: 0px;
          bottom: 0px;
          left: 70px;
        }
        img{
          position: absolute;
          top: 45px;
          right: 0px;
          bottom: 0px;
          left: 10px;
        }
        .time{
          p{
            font-size: 13px;
            position: absolute;
            top: 50px;
            right: 0px;
            bottom: 0px;
            left: 80px;
          }
        }
        .task{
          p{
            font-size: 20px;
            position: absolute;
            top: 75px;
            right: 0px;
            bottom: 0px;
            left: 80px;
            text-decoration:underline;
          }
        }
      }
      .labor{
          float: right;
          p{
            font-size: 20px;
            padding: 10px 20px 20px 10px;
            position: relative;
          }
          h2{
            position: absolute;
            top: 70px;
            right: 42px;
            font-size: 25px;
            text-decoration:underline;
          }
        }
      }
    }
    .chat-wrapper{
      .container{
        width: 80%;
        margin: 0 auto;
        .heading{
          font-size: 32px;
          padding-bottom: 80px;
          .heading-left{
            float: left;
            h2 {
              font-weight:normal
            }
          }
          .heading-right{
            float: right;
            a{
              font-size: 13px;
            }
          }
        }

        .chat-form{
          input{
            width: 100%;
            height: 40px;
            font-size: 20px;
          }
        }
        .btn-wrapper{
          text-align: center;
          margin: 40px 0;
          input{
            background-color: #EE9441;
            display: inline-block;
            color: white;
            font-size: 24px;
            width: 85%;
            height: 50px;
            border: none;
            cursor: pointer;
            margin-top: 250px;
          }
        }
      }
    }
  }
}