/* 招待画面 (new)ーーーーーーーーーーーーーーーーーーーーーーーーー*/
.invitations-new{
  header{
    background-color: #EE9441;
    height: 60px;
    img{
      margin-top: -7px;
    } 
    p{
      font-size: 24px;
      color: white;
      text-align: center;
      margin-top: -60px;
    }
  }
  .mein-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(250, 223, 169, 0.5);
    margin-bottom: 0px;
    .container{
      width: 90%;
      margin: 0 auto;
      h3{
        padding-top: 40px;
        font-weight: normal;
      }
      .form{
        padding-top: 20px;
        input{
          width: 60%;
          height: 30px;
          font-size: 20px;
        }
      }
      .actions{
        padding-top: 20px;
        input{
          display: block;
          height: 30px;
          background-color: #EE9441;
        }
      }
    }
  }
}

/* 招待新規ユーザー登録 (edit)ーーーーーーーーーーーーーーーーーーーーーーーーー*/

.invitations-edit {
  .background {
    background-image: url("/photo/top.jpeg");
    background-size: cover;
    background-position:center;
    height: 852px;
    .container {
      width: 310px;
      margin: 0 auto;
      .mein-wrapper {
        padding-top: 100px;
        .heading {
          color: white;
          font-size: 36px;
          width: 100%;
          height: 50px;
          h2 {
            color: white;
            background-color: #EE9441;
            line-height: 60px;
            font-weight: normal;
            text-align: center;
            font-size: 25px;
          }
        }
        .formbox {
          width: 100%;
          background-color: rgba(248, 200, 138, 0.7);
          padding-top: 20px;
          height: 450px;
          margin-top: 10px;
          .field {
            margin: 30px 0 30px 20px;
            .form-title {
              color: black;
              label {
                position: absolute;
              }
            }
            input {
              width: 91%;
              height: 35px;
              border: none;
              position: relative;
            }
          }
          .actions {
            margin: 50px 0 30px 20px;
            input {
              background-color: #EE9441;
              color: white;
              font-size: 24px;
              width: 93%;
              height: 50px;
              border: none;
            }
          }
        }
      }
    }
  }
}
