.post-index{

  .container{
      .heading{
        .nav{
          list-style:none;
          background-color: #EE9441;
          border-top: solid 2px white;
          height: 60px;
        }
        .nav a{
          color: white;
          font-size: 32px;
          line-height: 60px;
          display: inline-block;
          height: 60px;
          width: 49%;
          text-decoration: none;
          text-align: center;
        }
        .btn{
          background-color: rgba(244, 202, 117, 0.5);
          border-right: solid 2px white;
        }
      }

     *{
       margin: 0;
       padding: 0;
      }
      
    .mein-wrapper{
       padding-top: 30px;
       width: 100vw;
       height: 100vh;
       background-color: rgba(250, 223, 169, 0.5);
       margin-bottom: 0px;
     

      .task-wrapper{
        margin-bottom: 40px;
        .field{
          margin: 5px 5%;
          height: 60px;
          width: 90%;
          background-color: white;
          position: relative;

        .check{
          cursor: pointer;
        }
          

          input{
            display: none;
          }
          a{
            text-decoration: none;
            color: black;
            font-size: 20px;
            position: absolute;
            top: 17px;
            right: 0px;
            bottom: 0px;
            left: 60px;
          }
        }
      }
      .done-wrapper{
        margin: 0px 5%;
        width: 90%;
        .done{
            border-top: solid 2px rgb(75, 75, 75);
          p{
            margin-top: 10px;
          }
          .field{
            margin: 10px 0px;
            height: auto;
            background-color: white;
            position: relative;
            padding-bottom: 40px;

            .time{
              p{
                font-size: 15px;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 60px;
              }
            }
            .task{
              p{
                font-size: 20px;
                position: absolute;
                top: 20px;
                right: 0px;
                bottom: 0px;
                left: 60px;
              }
            }
            .thanks{
              a{
                font-size: 15px;
                position: absolute;
                top: 70px;
                right: 0px;
                bottom: 0px;
                left: 110px;
              }
            }
          }
        }
      }
      .btn {
        position: fixed;
        left: 75%;
        top: 75%;
    }
    }
  }
}


/* タスクの追加画面 (new)ーーーーーーーーーーーーーーーーーーーーーーーーー*/


.post-new{
  header{
    background-color: #EE9441;
    height: 60px;
    img{
      margin-top: -7px;
    } 
    p{
      font-size: 24px;
      color: white;
      text-align: center;
      margin-top: -60px;
    }
  }
    .mein-wrapper{
       padding-top: 30px;
       width: 100vw;
       height: 100vh;
       background-color: rgba(250, 223, 169, 0.5);
       margin-bottom: 0px;
      .formbox{
        width: 80%;
        margin: 0 auto;
        .form-1{
          margin: 10px 0;
          label{
            font-size: 32px;
          }
          input {
            width: 90%;
            height: 50px;
            font-size: 20px;
            padding: 0 10px;

          }
        }
        .check-box{
          margin: 20px 0;
          input{
            float: left;
            width: 40px;
            height: 20px;
          }
          p{
            font-size: 18px;
            padding-top: 3px;
          }
        }
        .form-2{
          margin: 10px 0;
          label{
            font-size: 32px;
            float: left;
            margin: 20px 20px 20px 0;
          }
          input {
            width: 20%;
            height: 30px;
            font-size: 30px;
            padding-left: 20px;
            margin: 20px 20px 20px 0;
          }
        }
        .form-3{
          margin: 20px 0;
          h2{
            font-weight: normal;
            font-size: 32px;
            margin: 10px 0;
          }
          p{
            font-size: 12px;
            margin-left: 50px;
            margin-top: -15px;
          }
          input {
            width: 25px;
            height: 25px;
            margin: 20px 20px 20px 5px;
          }
          label{
            font-size: 25px;
            margin: 20px 20px 20px 5px;
          }
          .paid{
            margin: 10px 0;
          }
        }
      }

      a{
        margin: 10px 0;
        display: block;
        text-align: center;
        color: #0000EE;
        
      }

      .btn-wrapper{
        text-align: center;
        margin: 40px 0;
        input{
          background-color: #EE9441;
          display: inline-block;
          color: white;
          font-size: 24px;
          width: 85%;
          height: 50px;
          border: none;
          cursor: pointer;
        }
      }

    }
}

/* タスクの編集画面 (edit)ーーーーーーーーーーーーーーーーーーーーーーーーー*/

.post-edit{
  header{
    background-color: #EE9441;
    height: 60px;
    img{
      margin-top: -7px;
    } 
    p{
      font-size: 24px;
      color: white;
      text-align: center;
      margin-top: -60px;
    }
  }
    .mein-wrapper{
       padding-top: 30px;
       width: 100vw;
       height: 100vh;
       background-color: rgba(250, 223, 169, 0.5);
       margin-bottom: 0px;
      .formbox{
        width: 80%;
        margin: 0 auto;
        .form-1{
          margin: 10px 0;
          label{
            font-size: 32px;
          }
          input {
            width: 90%;
            height: 50px;
            font-size: 20px;
            padding: 0 10px;

          }
        }
        .check-box{
          margin: 20px 0;
          input{
            float: left;
            width: 40px;
            height: 20px;
          }
          p{
            font-size: 18px;
            padding-top: 3px;
          }
        }
        .form-2{
          margin: 10px 0;
          label{
            font-size: 32px;
            float: left;
            margin: 20px 20px 20px 0;
          }
          input {
            width: 20%;
            height: 30px;
            font-size: 30px;
            padding-left: 20px;
            margin: 20px 20px 20px 0;
          }
        }
        .form-3{
          margin: 20px 0;
          h2{
            font-weight: normal;
            font-size: 32px;
            margin: 10px 0;
          }
          p{
            font-size: 12px;
            margin-left: 50px;
            margin-top: -15px;
          }
          input {
            width: 25px;
            height: 25px;
            margin: 20px 20px 20px 5px;
          }
          label{
            font-size: 25px;
            margin: 20px 20px 20px 5px;
          }
          .paid{
            margin: 10px 0;
          }
        }
      }

      a{
        margin: 10px 0;
        display: block;
        text-align: center;
        color: #0000EE;
        
      }

      .btn-wrapper{
        text-align: center;
        margin: 40px 0;
        input{
          background-color: #EE9441;
          display: inline-block;
          color: white;
          font-size: 24px;
          width: 85%;
          height: 50px;
          border: none;
          cursor: pointer;
        }
      }

    }
}