/* お礼の言葉追加画面 (new)ーーーーーーーーーーーーーーーーーーーーーーーーー*/

.thank-new{
  header{
    background-color: #EE9441;
    height: 60px;
    img{
      margin-top: -7px;
    } 
    p{
      font-size: 24px;
      color: white;
      text-align: center;
      margin-top: -60px;
    }
  }
  .mein-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(250, 223, 169, 0.5);
    margin-bottom: 0px;
    .container{
      width: 90%;
      margin: 0 auto;
      .form-wrapper{
        padding-top: 50px;
        .text-form{
          float: left;
          input{
            width: 295px;
            height: 50px;
            font-size: 20px;
          }
        }
        .btn-wrapper{
          input{
            width: 45px;
            height: 55px;
            display: block;
            background-color: #EE9441;
          }
        }
      }
    }
  }
}