<p><%= User.find(@resource.invited_by_id).name %>から、FAMILY_TASK に招待されました。</p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token) %></p>

<p>上記のリンクにアクセスして、アカウントを作成してください。招待を受け入れたくない場合は、このメールを無視してください。</p>
